body {
	background-color: snow;
	background-image:
		url("/Bebop-Web/javax.faces.resources/pictures/logo.png.xhtml");
	background-repeat: no-repeat;
	background-size: 1039px;
	background-position: center;
	text-align: center;
	color: black;
	_min-height: calc(100vh - 17.2rem);
}




/* NAVBAR */

#j_idt7 {
	opacity: 90%;
	background-color: snow;
	_border:none;
}

.navbarTitle span {
	color: black;
	font-style: italic;
	font-family: helvetica;
}

.logoNavbar {
	position: relative;
	top: -50%;
	margin-right: 1rem;
	width: 38px;
}

.navbarItems {
	color: black;
}

#j_idt8 * {
	color: black;
}

#j_idt8 *:hover {
	color: black;
	background: rgba(0, 0, 0, .1);
}
#j_idt8 *:focus {
	color: black;
	background: rgba(0, 0, 0, .1);
}

/* end NAVBAR */




.carousel-control {
	background-image: none !important;
	display: none;	
}

.carousel-caption {
	color: #015738;
	text-shadow: none !important;
}

.myCarousel {
	margin:auto;
	width:78%;
	max-width:1125px;
	min-width:410px;
	_margin-bottom:.5rem;
	_padding:.5rem;
}




/* CONTENT */


#j_idt21 * {
	background-color: snow;
	opacity: 95%;
	color: black;
	border-radius:8px;
}

.myTable-container {
	width: 98%;
	margin: 1%;
	overflow:auto;
	max-height:400px;
}

.myTable {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100px;	
}

th, td {
	text-align: left;
	border: 1px solid;
	padding: 10px;
}

/* end CONTENT */




/* FOOTER */

.bebop-footer {
	min-height: 10rem;
	background-color: snow;
	opacity: 90%;
	border: solid black;
	border-width: 1px;
	border-radius: 3px;
}

/* end FOOTER */



.blockPage {
	opacity: 0;
}

.bebop-padding-1rem {
	padding: 1rem;
}

.bebop-width-100 {
	width: 100%;
}

.bebop-top-1rem {
	position: relative;
	top: 1rem;
}

.bebop-header {
	min-height: 10rem;
}

.bebop-content {
	_min-height: calc(100vh - 17.2rem);
}

.bebop-flex-justify-content {
	display: flex;
	justify-content: center;
}

.bebop-flex-align-items {
	display: flex;
	align-items: center;
}