<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<ui:insert name="head"></ui:insert>
	<h:outputStylesheet library="css" name="style.css" position="last" />
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/resources/pictures/logo.ico" />
</h:head>

<h:body style="background-color:gray;color:snow">
	<b:navBar brand-style-class="navbarTitle"
		brand="Be Box Office Planet  #{mbAuthentication.loggedUser}"
		brand-img="#{request.contextPath}/resources/pictures/logo.png"
		brand-img-style-class="logoNavbar" brandHref="home.xhtml">

		<b:navbarLinks pull="right">
			<b:navLink class="navbarItems" value="Evenements" href="events.xhtml" />
			<b:navLink class="navbarItems" value="Partenaires"
				href="partners.xhtml" />
			<b:navLink class="navbarItems" value="Récompenses"
				href="rewards.xhtml" />
			
			<b:navLink value="Administration" icon-awesome="users"
				href="admin-operations.xhtml"
				rendered="#{mbAuthentication.adminConnected}" />
			
			<b:navLink value="Mes événéments" icon-awesome="ticket"
				href="partner-events.xhtml"
				rendered="#{mbAuthentication.partnerConnected}" />
			<b:navLink value="Mon box office" icon-awesome="rocket"
				href="box-office.xhtml"
				rendered="#{mbAuthentication.partnerConnected}" />
			
			<b:navLink value="Mes billets" icon-awesome="ticket"
				href="my-tickets.xhtml"
				rendered="#{mbAuthentication.clientConnected}" />
			<b:navLink value="Ma wishlist" icon-awesome="star"
				href="my-wishlist.xhtml"
				rendered="#{mbAuthentication.clientConnected}" />
			<b:navLink value="Mon panier" icon-awesome="cart-plus"
				href="checkout-basket.xhtml"
				rendered="#{mbAuthentication.clientConnected}" />
			<b:navLink value="Mes récompenses" icon-awesome="trophy"
				href="my-rewards.xhtml"
				rendered="#{mbAuthentication.clientConnected}" />
			
			<b:navLink class="navbarItems" value="Connexion" icon-awesome="key"
				href="login.xhtml" action="#{mbAuthenticationS}" />
			<b:navLink class="navbarItems" value="Mon compte"
				icon-awesome="wrench" href="user-settings.xhtml"
				rendered="#{mbAuthentication.userConnected}" />
		</b:navbarLinks>
	</b:navBar>
	
	<b:container style="min-height: calc(100vh - 17.2rem)">
		<b:row>
			<b:column style-class="bebop-content">
				<ui:insert name="content"></ui:insert>
			</b:column>
		</b:row>
	</b:container>
	
	<b:growl id="growl" allow-dismiss="true" globalOnly="true"
		showDetail="true" severity="info,warn,error" placementFrom="bottom"
		animation-enter="animated slideInDown"
		animation-exit="animated fadeOutDown" />

	<div
		class="bebop-footer bebop-flex-justify-content bebop-flex-align-items">
		<a style="color: black;" href="privacy.xhtml"><h4>BeBOP -
				2022</h4>
			<h5 style="font-style: italic;">à propos</h5></a>
	</div>
</h:body>

</html>