<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Inscription BeBOP</title>
	</ui:define>

	<ui:define name="content">
		<b:form>
			<b:panel
				style-class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8">
				<b:row>
					<h3>Inscription client</h3>
					<h:outputLabel value="#{mbAuthentication.clientMessage}" />
				</b:row>

				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Identifiant" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez entrer un identifiant"
							value="#{mbAuthentication.clientUsername}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Mot de passe" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputSecret placeholder="Veuillez entrer un mot de passe"
							value="#{mbAuthentication.clientPassword}">
						</b:inputSecret>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Prénom" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez entrer votre prénom"
							value="#{mbAuthentication.clientFirstName}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Nom" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez entrer votre nom"
							value="#{mbAuthentication.clientLastName}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Date de naissance" />
					</b:column>

					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez entrer votre date de naissance"
							value="#{mbAuthentication.dateConvert}" mask="dd/mm/yyyy">

						</b:inputText>
					</b:column>
				</b:row>

				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Email" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez entrer votre email"
							value="#{mbAuthentication.clientEmail}" mask="email">
						</b:inputText>
					</b:column>
				</b:row>

				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Téléphone" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez entrer votre téléphone"
							value="#{mbAuthentication.clientPhone}" mask="9{10}">
						</b:inputText>
					</b:column>
				</b:row>

				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Ville" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">

						<b:selectOneMenu value="#{mbAuthentication.clientCityFK}">
							<f:selectItems value="#{mbAuthentication.cities}" var="city"
								itemValue="#{city.id}" itemLabel="#{city.name}" />
						</b:selectOneMenu>
					</b:column>
				</b:row>

				<b:row>
					<b:commandButton style="margin:1rem" value="Valider"
						action="#{mbAuthentication.createClient()}" />

					<b:commandButton style="margin:1rem" value="Retour"
						action="login.xhtml?faces-redirect=true">
						<f:ajax />
					</b:commandButton>

				</b:row>
			</b:panel>
		</b:form>

	</ui:define>

</ui:composition>

</html>