<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Connexion BeBOP</title>
		<f:metadata>
			<f:event listener="#{mbAuthentication.disconnect()}"
				type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>

	<ui:define name="content">
		<b:form id="loginForm">
			<b:panel
				style-class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8">
				<b:row>
				<h3>Identifiez vous :)</h3>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Identifiant" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText id="inpUsername"
							placeholder="Veuillez entrer un identifiant"
							value="#{mbAuthentication.username}">
							<f:facet name="prepend">
								<b:icon name="user" />
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs cat-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Mot de passe" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputSecret id="inpPassword"
							placeholder="Veuillez entrer un mot de passe"
							value="#{mbAuthentication.password}">
							<f:facet name="prepend">
								<b:iconAwesome name="key" />
							</f:facet>
						</b:inputSecret>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inpPassword" />
					</b:column>
				</b:row>
				<b:row>
					
						<b:commandButton style="margin:1rem" value="Connexion"
							action="#{mbAuthentication.connectUser()}" />
					
						<b:commandButton style="margin:1rem" type="button" value="Créer un compte client"
							action="client-register.xhtml?faces-redirect=true">
							<f:ajax />
						</b:commandButton>
					
						<b:commandButton style="margin:1rem" type="button" value="Créer un compte partenaire"
							action="partner-register.xhtml?faces-redirect=true">
							<f:ajax />
						</b:commandButton>
					
				</b:row>
			</b:panel>
			<b:panel
				style-class="col-sm-offset-0 col-md-offset-0 col-xs-12 col-sm-12 col-md-12">
				<b:row>
					<h3>Les événements à venir</h3>
				</b:row>
			</b:panel>
		</b:form>
	</ui:define>

</ui:composition>

</html>