<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Récompenses BeBOP</title>
	</ui:define>

	<ui:define name="content">
		<b:form>
			<b:panel
				style-class="col-sm-offset-0 col-md-offset-0 col-xs-12 col-sm-12 col-md-12">
				<b:row>
					<h3>Les récompenses</h3>
				</b:row>
				<b:row>
					<h4>Chaque achat de billet permet d'accumuler des points qui
						peuvent être par la suite échangés par des récompenses (cartes
						cadeaux Spotify Premium, Netflix, etc.).</h4>
				</b:row>
			</b:panel>

			<b:panel style-class="col-sm-offset-0 col-md-offset-0 col-xs-12 col-sm-12 col-md-12">
				<b:row>
					<br />
					<div class="myTable-container">
						<h:dataTable styleClass="myTable"
							value="#{mbAdminOperations.rewardTypes}" var="rewardType">
							<h:column>
								<f:facet name="header">Nom</f:facet>
							#{rewardType.name}
						</h:column>

							<h:column>
								<f:facet name="header">Points</f:facet>
							#{rewardType.points}
						</h:column>

							<h:column>
								<f:facet name="header">Description</f:facet>
							#{rewardType.description}
						</h:column>

							<h:column>
								<f:facet name="header">Photo</f:facet>
							<h:graphicImage style="max-width:100px" url="/resources/pictures/#{rewardType.picture}"></h:graphicImage>
						</h:column>
						
						</h:dataTable>
					</div>
				</b:row>
			</b:panel>
		</b:form>
	</ui:define>
</ui:composition>

</html>